.container {
    display: flex;
    justify-content: center;
}

.frame {
    aspect-ratio: 3/4;
    width: 480;
    display: flex;
    flex-direction: column;
    background-color: salmon;
}

#deepar-canvas {
    padding-bottom: 16px;
    display: flex;
    gap: 16px;
    align-items: flex-end;
    aspect-ratio: 3/4;
    width: 100%;
    background-color: lightgreen;
}

.button-container {
    position: relative;
    padding: 16px;
    flex: 1;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.shot-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.record-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 79, 79);
}

.effect-container {
    display: flex;
    gap: 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80%;
}

.effect {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
